* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: content-box;
}

html,
body {
  height: 100%;
  font: 400 15px/1.8 'Lato', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.table {
  overflow: hidden;
  border-radius: 15px;
  padding: 10px;
}

.container-fluid {
  font-size: 2rem;
}

.logo {
  width: 140px;
}

.background {
  background-image: url('assets/Street_in_Babylon.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.table {
  overflow: hidden;
}

.content {
  background: #fff;
  align-items: center;
  display: flex;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 5px 5px;
  position: relative;
}

.content input {
  background: transparent;
  width: 300px;
  border: 0;
  outline: none;
}

.content button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.content button img {
  width: 20px;
}

.nav-links my-3 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  margin-left: 40px;
}
.nav-links .btn {
  background: #fff;
  color: #000;
  padding: 8px 30px;
  border-radius: 4px;
}

.d-flex-justify-content-center-mt-2 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.d-flex-justify-content-center-mt-2 a {
  text-decoration: none;
  color: #fff;
  margin-left: 40px;
}

.d-flex-justify-content-center-mt-2 .btn {
  background: #fff;
  color: #000;
  padding: 8px 30px;
  border-radius: 4px;
}
.new_btn {
  background: #fff;
  color: #000;
  padding: 8px 30px;
}
.btn-btn-success-modal-open-button {
  padding: 8px 30px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  border: none;
  border-radius: 12px;
}
.btn-btn-success-modal-open-button:hover {
  background: rgb(98, 216, 19);
  transition: 0.5s;
}
.btn-btn-secondary-float-end-mx-2-modal-open-button {
  background: #fff;
  color: #000000;
  padding: 5px 15px;
  border-radius: 7px;
  border-width: 1px;
}
.btn-btn-secondary-float-end-mx-2-modal-open-button:hover {
  background: rgb(98, 216, 19);
  transition: 0.5s;
}
.btn-btn-warning-float-end-delete-btn {
  background: #fff;
  color: #000000;
  padding: 5px 15px;
  border-radius: 7px;
  border-width: 1px;
}
.btn-btn-warning-float-end-delete-btn:hover {
  background: rgb(197, 48, 48);
  transition: 0.5s;
}
