html,
body {
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  margin-right: 1rem;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.table thead th {
  background-color: #f8f9fa;
  border-color: #dee2e6;
  text-align: left;
  font-weight: bold;
}

.background {
  background: linear-gradient(
    to bottom,
    #0072c6 0%,
    #4a90e2 50%,
    #005eb8 75%,
    #001a33 100%
  );

  background-attachment: fixed;
}

.logo {
  width: 140px;
}
